body{
    height: 100vh;
    background: linear-gradient(rgb(255, 255, 255), rgb(0,255,0));
}
.logo{
        display: block;
        margin: auto;
        width: 50px;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
    max-width: 1000px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 30px;
    height: 55vh;
}
.message{
     background-color: rgb(154, 152, 152);
     padding: 5px;
     margin: 17px 13px;
     border: 2px solid black;
     border-radius: 10px;
     width: 25%;
}
.left{
    float: left;
    clear: both;
  
}
.right{
    float: right;
    clear: both;
  
}
#send-container{
    text-align: center;
    display: block;
    margin: auto;
    max-width: 1200px;

}
#massageInp{
    width: 81%;
    border: solid 2px black;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    height: 30px;
    margin: 0 5px;
    border-radius: 5px;
    width: 60px;
    font-size: large;
    font-weight: 500;
}